<header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="logo"><img src="~/Asset/images/logo.png" /></div>
            </div>
            <div class="col-md-6 text-right">
                <div class="phone"><span class="glyphicon glyphicon-earphone"></span>0123-456-789</div>
                <div class="mail"><span class="glyphicon glyphicon-envelope"></span>infor@yoursite.com</div>
                <form class="form-search">
                    <input type="text" class="input-medium search-query">
                    <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
            <div id="cart"><a class="btn btn-cart" href="cart.html"><span class="glyphicon glyphicon-shopping-cart"></span>CART<strong>0</strong></a></div>
        </div>
    </div>
</header>
